<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaef.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>
    .layout {
        width : 400px;
        margin : 0 auto;
        margin-top : 40px;
     }
</style>

<body>

    <div class="layout">

        <table>
            <thead>
                <tr>
                    <th> 글번호 </th>
                    <th> 제목 </th>
                    <th> 할 일</th>
                    <th> 완료 </th>
                    <a th:href="@{/board/write}">등록</a>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}"> <!-- each는 반복문 -->
                    <td>
                        <a th:text="${board.id}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>     <!-- href는 링크를 연결해줌 localhost:8090/board/view?id=1 ~ 121 -->
                    <td>
                        <a th:text="${board.title}"></a>
                    </td>
                    <td>
                        <a th:text="${board.content}">1</a>
                    </td>
                    <td>
                        <input type="checkbox" name="completed" th:value="${board.completed}"
                               th:checked="${board.completed}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>