/* Body 스타일 */
body {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}


.card-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* 카드 사이 간격 */
}

/* 프로필 카드 스타일 */
.profile-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 230px;
  height: 160px;
  text-align: center;
}
.online-profile-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 230px;
  height: 160px;
  text-align: center;
}

.offline-profile-card {
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 230px;
  height: 160px;
  text-align: center;
  opacity: 40%;
}

/* 프로필 헤더 */
.profile-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f7f7f7;
}

.online-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f7f7f7;
}

.offline-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f7f7f7;
}
/* 좌석 번호 */
.seat-number {
  font-size: 16px;
  color: #333;
}

/* 상태 */
.status {
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 12px;
  color: white;
}

.status.online {
  background-color: #28a745;
}

.status.unknown {
  background-color: #6c757d;
}

.status.offline {color;color: black;}

.modal-live {
  /* cursor: pointer; */
  width: 59px;
  height: 19px;
  margin-left: -44px;
  margin-top: -169px;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

.live {background-color: #F5F5F5;}

.modal-live-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 59%; */
}

/* 프로필 사진 */
.profile-picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-top: 10px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* 프로필 정보 */
.profile-info {
  padding: 5px;
}

.profile-info h2 {
  margin: 9px 0;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.profile-info2 h2 {
  margin: 9px 0;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

/* 상태 표시 */
.profile-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
}

.comprehension-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.comprehension-status.good {
  background-color: #28a745;
}

.comprehension-status.bad {
  background-color: #dc3545;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  background-image: url("your-pattern.png"); /* 그래픽 패턴 이미지 */
  background-size: cover;
}

/* 모달 헤더 */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header-info {
  display: flex;
  align-items: center;
}

.modal-profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -10px;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

/* 상태 인디케이터 */
.status-indicator {
  display: flex;
  align-items: center;
}

.status-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-icon.online {
  background-color: #28a745;
}

.status-icon.offline {
  background-color: #dc3545;
}

/* 모달 내 프로필 상세 정보 정렬 */
.profile-details {
  padding: 15px;
  text-align: left;
}

.profile-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 7px 0;
  font-size: 16px;
  color: #555;
  border-bottom: solid 1px;
  border-bottom-color: darkgray;
}

.profile-name-strong {
  font-size: 12px;
  min-width: 70px; /* 텍스트 라벨의 최소 폭 */
  text-align: left; /* 라벨 텍스트를 오른쪽 정렬 */
  color: gray;
}



/* 프로필 정보의 균일한 정렬 */
.profile-details p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 7px 0;
  font-size: 16px;
  color: #555;
  border-bottom: solid 1px;
  border-bottom-color: darkgray;
}

.profile-details strong {
  font-size: 12px;
  min-width: 70px; /* 텍스트 라벨의 최소 폭 */
  text-align: left; /* 라벨 텍스트를 오른쪽 정렬 */
  color: gray;
}
.profile-details textarea {
  font-size: 16px;
  min-width: 70px; /* 텍스트 라벨의 최소 폭 */
  text-align: left; /* 라벨 텍스트를 오른쪽 정렬 */
  color: #555;
  border: ridge;
  outline: none;
}

.profile-details span[contenteditable="false"] {
  flex-grow: 1;
  border-bottom: 1px solid #ccc; /* 아래에 밑줄 */
  padding: 2px;
}

.profile-details a {
  color: #007bff;
  text-decoration: none;
}

.profile-details a:hover {
  text-decoration: underline;
}

button:hover {
  background-color: #218838;
}