body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.profile-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f7f7f7;
}

.seat-number {
    font-size: 16px;
    color: #333;
}

.status {
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 12px;
    color: white;
}

.status.online {
    background-color: #28a745;
}

.status.unknown {
    background-color: #6c757d;
}

.status.offline {
    background-color: #dc3545;
}

.profile-picture {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 50px; /* 적절한 크기로 고정 */
    height: 50px; /* 프로필 사진의 높이 고정 */
    margin: 0 auto; /* 가운데 정렬 */
    border-radius: 50%; /* 원형으로 만들기 */
    border: 2px solid #ddd; /* 외곽선 추가 */
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 프로필 영역에 맞게 채워지도록 설정 */
    border-radius: 50%; /* 원형으로 만들기 */
}

.profile-info {
    padding: 5px;
}

.profile-info h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.profile-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.comprehension-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.comprehension-status.good {
    background-color: #28a745;
}

.comprehension-status.bad {
    background-color: #dc3545;
}

.profile-details {
    padding: 15px;
    text-align: left;
}

.profile-details.hidden {
    display: none;
}

.profile-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.profile-details a {
    color: #007bff;
    text-decoration: none;
}

.profile-details a:hover {
    text-decoration: underline;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
