<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="styleguide.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="frame">
  <div class="form-log-in-wrapper">
    <div class="form-log-in">
      <div class="input-field">
        <div class="label">이메일</div>
        <div class="input"><div class="text-wrapper">Value</div></div>
      </div>
      <div class="input-field">
        <div class="label">암호</div>
        <div class="input"><div class="text-wrapper">Value</div></div>
      </div>
      <div class="button-group">
        <button class="button"><button class="div">Sign In</button></button>
      </div>
      <div class="text-link"><div class="text-link-2">Forgot password?</div></div>
    </div>
  </div>
</div>
</body>
</html>
